[submodule "kotlin-anko-view-controllers"]
    path = kotlin-anko-view-controllers
    url = https://github.com/lightningkite/kotlin-anko-view-controllers.git
[submodule "kotlin-anko"]
    path = kotlin-anko
    url = https://github.com/lightningkite/kotlin-anko.git
[submodule "kotlin-anko-networking"]
    path = kotlin-anko-networking
    url = https://github.com/lightningkite/kotlin-anko-networking.git
[submodule "kotlin-observable"]
    path = kotlin-observable
    url = https://github.com/lightningkite/kotlin-observable.git
[submodule "kotlin-networking"]
    path = kotlin-networking
    url = https://github.com/lightningkite/kotlin-networking.git
[submodule "kotlin-core"]
    path = kotlin-core
    url = https://github.com/lightningkite/kotlin-core.git
[submodule "kotlin-anko-observable"]
    path = kotlin-anko-observable
    url = https://github.com/lightningkite/kotlin-anko-observable.git
[submodule "kotlin-anko-full"]
    path = kotlin-anko-full
    url = https://github.com/lightningkite/kotlin-anko-full.git